{% extends "website/home.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
<script src="{% static 'vendor/dist/min/dropzone.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/dist/min/dropzone.min.css'%}"/>
<style type="text/css"></style>
<div class="container">
    <div class="row">
        <p>
        <div>
            <button class="ui Secondary button" style="margin-left: 15px" onclick="make_folder()"><i
                    class="plus icon"></i>Folder
            </button>
            <div style="display: none;" id="dir_make">
                <input type="text" id="dir_name">
                <button class="ui Secondary button" onclick="make_directory()">Create</button>
            </div>
        </div>
        </p>
        <div>
            <button class="ui Secondary button" onclick="search_file()"><i class="search icon"></i>Search</button>
            <input type="text" id="file_name">
        </div>
        </p>
    </div>
    <p>
    <div>
        <form method="post" enctype="multipart/form-data" action="/restapi/list/{{path}}"
              class="dropzone" id="myDropzone">
                <div class="dz-default dz-message" data-dz-message="">
                    <br>
                    <span>Drag and upload your file</span>
                </div>
            {% csrf_token %}
        </form>
    </div>
    <div class = "item-loading-queue">
    </div>
    </p>

    <p>
        <select id="sort-select" onchange="location= this.value;">
            <option value="" disabled selected>파일 정렬</option>
            <option class="sort-date" value="?sort=date">최신순</option>
            <option class="sort-date-end" value="?sort=date-end">오래된순</option>
            <option class="sort-name" value="?sort=name">이름순</option>
        </select>
    </p>


    <table class="ui striped table">
        <thead>
        <tr>
            <th class="four wide">/{{ path }}</th>
            <th class="center aligned">New Path</th>
            <th class="collapsing">Copy</th>
            <th class="collapsing">Move</th>
            <th class="collapsing">Delete</th>
            <th class="collapsing">Download</th>
        </tr>
        </thead>
        <tbody>

        {% if path != "" %}
            <td>
                <a onclick="go_parent()"><i class="folder open outline icon"></i> ...</a>
            </td>
        {% endif %}

        <tr>
            {% for file in files %}
            <td class="collapsing">
                {% if file.type == "directory" %}
                {% with new_path=path|add:file.name|add:'/' %}
                <a href="{% url 'filelist' path=new_path %}"><i class="folder outline icon"></i> {{file.name}}</a>
                {% endwith %}
                {% else %}
                {% with new_path=path|add:file.name %}
                <a style="color: black" href="{% url 'view' path=new_path %}"><i class="file outline icon"></i>
                    {{file.name}} </a>
                {% endwith %}
                {% endif %}
            </td>
            <td>
                {% if file.type != "directory" %}
                {% with old_path=path|add:file.name %}
                <div class="ui transparent input">
                    <input placeholder="dir/file" type="text" id="{{ old_path }}">
                </div>
                
                {% endwith %}
                {% endif %}

            </td>
            <td class="collapsing">
                <div>
                    {% if file.type != "directory" %}
                    {% with old_path=path|add:file.name %}
                    <a style="color: black" id="copy_path" onclick="copy('{{ old_path }}')"><i
                            class="copy outline icon"></i></a>
                    {% endwith %}
                    {% endif %}
                </div>
            </td>

            <td class="center aligned collapsing">
                {% if file.type != "directory" %}
                {% with old_path=path|add:file.name %}
                <a style="color: black" onclick="move('{{ old_path }}')"><i class="arrow right icon"></i></a>
                {% endwith %}
                {% endif %}
            </td>

            <td class="center aligned collapsing">
                {% if file.time != '2019-05-01 00:00:54+00:00' %}
                {% with new_path=path|add:file.name %}
                <a style="color: black" href="{% url 'delete' path=new_path %}"><i
                        class="trash alternate outline icon"></i></a>
                {% endwith %}
                {% endif %}
            </td>

            <td class="center aligned collapsing">
                {% if file.type != "directory" %}
                {% with new_path=path|add:file.name %}
                <a style="color: black" href="{% url 'download' path=new_path %}"><i
                        class="cloud download icon"></i></a>
                {% endwith %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

<script type="text/javascript">
    function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
	}


    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function displayItems(fileItemList){
		var itemList = $('.item-loading-queue')
		itemList.html("")
		$.each(fileItemList, function(index, obj){
			var item = obj
            console.log(item)
			var html_ = "<div class=\"progress\">" +
			   "<div class=\"progress-bar\" role=\"progressbar\" style='width:" + item.progress + "' aria-valuenow='" + item.progress + "' aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>"

            itemList.append("<div>" + item.name+"["+item.progress+"]" + html_ + "</div><hr/>")

		})
    }

    function uploadChange(file) {
        var el = file.parentNode.parentNode.getElementsByTagName("*");
        for (var i = 0; i < el.length; i++) {
            var node = el[i];
            if (node.className == "file-text") {
                node.innerHTML = file.value;
                break;
            }
        }
    }

    function make_folder() {
        document.getElementById("dir_make").style.display = "inline-block";
    }

    function make_directory() {

        dir = document.getElementById("dir_name").value;
        console.log(dir)
        var dir_path = "{{ path }}";
        new_path = dir_path + dir + '/';
        console.log("newpath : " + new_path)
        location.href = "{% url 'makefolder' path='' %}" + new_path;
    }

    function search_file() {
        file = document.getElementById("file_name").value;
        console.log(file);
        location.href = "{% url 'search' file_name='' %}" + file;
    }

    //@TODO: Here
    function folder_upload() {
        console.log(1);
    }

    function folder_upload_active() {
        document.getElementById("dir_upload").style.display = "inline-block";
    }

    function go_parent() {
        var dir_path = "{{ path }}";
        var dir_arr = dir_path.split('/');
        dir_arr.pop();
        dir_arr.pop();
        var new_path = dir_arr.join('/');
        location.href = "{% url 'filelist' path='' %}" + new_path;
    }

    function copy(old) {
        var copy_path = document.getElementById(old).value;
        location.href = "/copy/" + old + "&" + copy_path;
    }

    function move(old) {
        var move_path = document.getElementById(old).value;
        location.href = "/move/" + old + "&" + move_path;

    }



    var keepfile = []


    Dropzone.options.myDropzone = {
        maxFilesize: 10240,

        autoProcessQueue: false,

        init: function () {
            //Restore initial message when queue has been completed
            this.on("addedfile", function (file) {
                keepfile.push(file)
                console.log(file.name);
                console.log(file.size);
                console.log(file.type);
                var policyData;
                var fileItem = file;
                var csrftoken = getCookie('csrftoken');

                var posturl = "/restapi/list/"+"{{path}}"
                var _file_path =  "{{user.username}}"+"/"+"{{path}}"+fileItem.name
                var temp_size = file.size / 1024
                if(temp_size < 1024) {
                    temp_size = temp_size.toFixed(2)
                    temp_size = temp_size.toString() + 'KB'
                }
                else if(temp_size < 1024 * 1024) {
                    temp_size = temp_size / 1024;
                    temp_size = temp_size.toFixed(2)
                    temp_size = temp_size.toString() + 'MB'
                }
                else{
                    temp_size = temp_size / 1024*1024;
                    temp_size = temp_size.toFixed(2)
                    temp_size = temp_size.toString() + 'GB'
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                $.ajax({
                method:"POST",
                data: {
                    filename: file.name,
                    file_path : _file_path,
                    file_size : temp_size
                },
                url: posturl,
                success: function(data){
                    console.log(data.url)
                    console.log(data.final_upload_path)
                    policyData = data
                },
                error: function(){
                    alert("An error occured, please try again later")
                }
            }).done(function(){
                // AWS.config.update({
                // 	accessKeyId: policyData.key,
                // 	secretAccessKey: policyData.secret_key,
                // 	region: policyData.bucket_region
                // });

                AWS.config.update({
                  region: policyData.bucket_region,
                  credentials: new AWS.CognitoIdentityCredentials({
                    IdentityPoolId: policyData.identity_pool
                  })
                });

                var s3 = new AWS.S3({
                  apiVersion: '2006-03-01',
                  params: {Bucket: policyData.bucket_name}
                });

                var keyPath = "{{user.username}}" + "/" + "{{path}}"+file.name
                var contentType = file.type != '' ? file.type : 'application/octet-stream'


                var params = {
                    Key : keyPath,
                    ContentType: contentType,
                    Body : file
                };

                s3.upload(params).on('httpUploadProgress', function(evt) {
                    var progress =  parseInt((evt.loaded * 100) / evt.total)+'%'
                    console.log("Uploaded :: " + progress);
                    file.progress = progress
                    displayItems(keepfile)

                }).send(function (err, data) {
                  if (err) {
                      return alert('There was an error uploading your photo: ', err.message);
                  }
                  else {
                      if(keepfile.length == 1){
                          if(!alert(file.name +" 업로드 완료")) {
                              keepfile.pop()
                              window.location.reload();
                          }
                      }
                      else{
                          if(!alert(file.name +" 업로드 완료. 남은 파일 갯수 : " + (keepfile.length - 1).toString())) {
                              var index = keepfile.indexOf(file);
                              if (index > -1) {
                                  keepfile.splice(index, 1);
                              }
                          }
                      }
                  }
                });

            })

            });
        }
    }

</script>
{% endblock %}